*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 2%;
    background-color: white;
    display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(125,168,0);
    justify-content: center;
    border-radius: 50px;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70%;
    background-color: beige;
    padding: 20px;
    text-align: justify;
}

form{
    width: 79%;
    justify-content: center;
    background-color: white;
}

.limpiar{
    background-color: rgba(185, 123, 81, 0.568);
    padding: 1%;
    border-radius: 12%;
    border-color: rgb(185,123,81);
}

.enviar{
    background-color: rgb(185,123,81);
    padding: 1%;
    border-radius: 12%;
    border-color: rgb(185,123,81);
}

footer{
    padding: 6%;
    text-align: center;
    background-color: rgb(82,41,15);
    color: white;
    position: relative;
    font-size: 12px;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    .imgHome{
        flex-direction: column;
    }
}

.imgHeader{
    width: 172px;
}

.imgProductos{
    width: 250px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.caja{
    background-color: rgb(255, 255, 255);
    color: rgb(82,41,15);
    float: left;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px;
    border-radius: 20px;
}

.descripcion{
    margin-left: 50px;
    font-size: 16px;
    margin-right: 50px;
}

#contenedorHome{
    background-color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

#pHome{
    width: 400px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
}
#pHome p{
    padding: 20px;
    text-align: justify;
}

#pHome h3{
    padding: 10px;
    text-align: center;
}

.imgHome{
    max-width: 200px;
    align-self: center;
    margin: 10px;
}

#redesSociales{
    float: left;
    font-size: 12px;
}

.derechos{
    float: right;
    color: #fff;
    font-size: 12px;
}