*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 2%;
    background-color: rgb(125,168,0);
    color: white;
    display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

section{
    margin: 2px;
    flex: 70%;
    background-color: beige;
}

.seccionInputs{
    padding: 10px;
    background-color: beige;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82,41,15);
}

input{
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
}

.imgProductos{
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 35px;
}

.caja{
    background-color: beige;
    color: rgb(82,41,15);
    float: left;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px;
    border-radius: 20px;
}

.descripcion{
    margin-left: 50px;
    font-size: 16px;
    margin-right: 50px;
}

.seccionBotones{
    flex-wrap: wrap;
    background-color: rgb(225,186,121);
    padding: 10px;
    border-radius: 50px;
    width: auto;
}

.botones{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(82,41,15);
    flex-wrap: wrap;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}
j
.archivo{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 2px;
    padding: 8px;
    margin: 5px;
    font-size: 25px;
}

.contenedorLogin{
    display:block;
    width: 350px;
    height: 560px;
    justify-content: center;
    background-color: beige;
    color: rgb(82,41,15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 35px;
    border-radius: 8px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    font-weight: bold;
}

footer{
    margin-top: 800px;
    padding: 20px;
    text-align: center;
    background-color: rgb(82,41,15);
    color: white;

}